__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.ipynb_checkpoints/

# Data
data/
*.zip
*.tar.gz
*.tif
*.jpg
*.png

# Logs and Results
segmentation/logs/
segmentation/results/
*.log
*.csv
*.json
*.weights.h5
*.keras

# IDE
.vscode/
.idea/
